{{ $fonts := resources.Get "css/fonts.css" }}
{{ $normalize := resources.Get "css/normalize.css" }}
{{ $fontawesome := resources.Get "css/all.css" }}
{{ $vncnt := resources.Get "css/vncnt.css" }}
{{ $style := slice $fonts $fontawesome $normalize $vncnt | resources.Concat "css/styles.css" | minify }}
<link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#3d3d3d">
<meta name="msapplication-TileColor" content="#3d3d3d">
<meta name="theme-color" content="#ffffff">
<link rel="stylesheet" href="{{ $style.Permalink }}" media="screen">